*

{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.full-page

{

    height: 100vh;

    width: 100%;

    background: rgb(245, 245, 245);

    position: absolute;

}

.sub-page

{

    width: 1460px;
    background-image: url("img/b1.jpg");

    min-height: 720px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.navigation-bar

{

    display: flex;

    align-items: center;

    padding: 20px;

    padding-left: 80px;

    padding-right: 30px;

    padding-top: 50px;

}

.logo

{

    position: fixed;

    margin-top: 10px;

}

.logo a

{

    text-decoration: none;

    color: white;

    font-size: 30px;

}

nav

{

    flex: 1;

    position: fixed;

    right: 0;

   
}

nav ul 

{

    display: inline-block;

    list-style: none;

}

nav ul li

{

    display: inline-block;

    margin-right: 90px;

    margin-top: 17px;

}

nav ul li a

{

    text-decoration: none;

    font-size: 20px;

    color: white;

    font-family: sans-serif;

}

nav ul li a:hover

{

    color: saddlebrown;

}

.row

{

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-around;

}

.col-1

{

    flex-basis: 50%;

    min-width: 300px;

}

.form-box

{

    width: 300px;

	height: 400px;

	position: relative;

    top: 50px;

    left: 220px;

	background: rgba(0,0,0,0.3);

}

.main-heading

{

    color: #ffffff;

    padding-bottom: 20px;

}

.form

{

	position: relative;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}

.form input

{

	font-family: Poppins;

	outline: none;

    border: none;

    border-bottom: 1px solid rgb(0, 0,0,0.5);

	width: 100%;

	margin: 0 0 15px;

	padding: 15px;

	font-size: 14px;

}

.form button

{

	font-family: Poppins;

	width: 100%;

    color: white;

	font-size: 14px;

	cursor: pointer;

	padding: 15px;

    border: none;

    background: #660000;

}

.form .message

{

    font-size: 12px;

	margin: 15px 0 0;

    color: white;

}

.form .message a

{

	color: #00ff73;

	text-decoration: none;

}

.form .register-form{

	display: none;

}

.defination{

    text-align: left;

    font-size: 30px;

    color: white;

    font-family: 'Kaushan Script', cursive;

    padding-left: 60px;

}


body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}














